@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.container.container-sm {
  max-width: 782px;
}

.container.container-md {
  max-width: 1280px;
}

.container.container-lg {
  max-width: 1440px;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex.flex-column {
  flex-direction: column;
}

.d-grid {
  display: grid;
}

.text-center {
  text-align: center;
}

.title {
  font-size: 3.75rem;
  font-weight: 500;
  margin: 3rem 0;
}

.title-main {
  font-size: 5rem;
  font-weight: 600;
  margin: 4rem 0;
}

.subtitle {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 2rem 0;
}

.btn,
.btn-whatapp,
.btn-youtube,
.btn-instagram,
.btn-google,
.btn-twitter {
  margin: .25rem .125rem;
  padding: .35rem 1.25rem;
  font-family: inherit;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: .6px;
  border-radius: .3rem;
  border: none;
  box-shadow: 0 2px 5px rgba(51, 51, 51, 0.3);
  transition: .3s ease;
}

.btn:hover {
  cursor: pointer;
  box-shadow: none;
  transition: .3s ease;
  background: rgba(0, 0, 0, 0.75);
}

.text-primary {
  color: #7633f9;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.btn-danger {
  background-color: rgb(238, 34, 34);
  color: white;
}

.btn-success {
  background-color: green;
  color: #fff;
}

.btn-primary {
  background-color: #7633f9;
  color: #fff;
}

.btn-warning {
  background-color: rgb(238, 222, 6);
  color: black;
}